* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
}

body {
    background-color: rgb(30, 30, 30);
    color: white;
    overflow: hidden;
    overflow-y: scroll;
}

.navbar {
    display: flex;
    justify-content: space-between;
    z-index: 3;
    max-width: 75%;
    position: sticky;
    top: 0;
    background-color: rgb(30, 30, 30);
    margin:  0 auto;
}


.logo {
    object-fit: cover;
    width: 100px;
    height: 80px;
    margin: 20px;
}

.nav-lists {
    margin-top: 50px;
}

.navListItem {
    margin: 20px;
    font-size: 17px;
}

.navListItem:hover {
    color: yellow;
    border-bottom: 3px solid yellow;
    cursor: pointer;
    padding-bottom: 6px;
}

.nav-button {
    display: flex;
    justify-content: space-between;
}

.navBtn {
    color: black;
    background-color: white;
    font-size: 15px;
    width: 120px;
    height: 50px;
    margin: 30px;
    border-radius: 20px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center
}

.contactImg {
    object-fit: cover;
    width: 20px;
    height: 20px;
    margin: 5px;
}

#intro {
    /* display: flex;
    justify-content: space-between; */
    max-width: 75%;
    position: relative;
    margin:  0 auto;
}

.profileImg {
    object-fit: cover;
    /* width: 400px;
    height: 400px; */
    position: absolute;
    top: -11rem;
    right: 0;
    z-index: -1;

}

.intro-detail {
    margin: 5rem;
}

.intro-text {
    font-size: 50px;
    font-weight: bold;

}

.itroName {
    color: yellow;
}

.hello {
    font-size: 20px;
}

.itroPara {
    font-size: 15px;
    margin: 20px 0px;
    font-family: sans-serif;
}

.hireImg {
    object-fit: cover;
    width: 30px;
    height: 30px;
    margin: 3px;
}

.hireBtn {
    color: black;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
}

#skills {
    overflow: hidden;
    max-width: 75%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin:  0 auto;

}

.skillHead {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 30px;

}

.skills-discribe {
    margin-bottom: 2rem;
    font-size: 1.1rem;
    font-family: sans-serif;
    background-color: rgb(36, 35, 35);
    padding: 1.1rem;
}


.skillsDiscriptions {
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: rgb(36, 35, 35);
    padding: 1.1rem;
}


.skillImage {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

#portfolio{
    max-width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:  0 auto;
}

.portfolioHead{
    margin: 1rem 0;
    font-size: 3rem;
}

.portfolioPara{
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    margin: 0 auto;
    font-family: sans-serif;
}

.myPortfolioImages{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}


.portfolioImg{
    object-fit: cover;
    margin: 0.5rem;
    height: 18rem;
    width: 18rem;
}

.portfolioBtn{
    color: black;
    background-color: white;
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-weight: 600;
    margin: 3rem 0;
    width: 8rem;

}


@media screen and (max-width: 840px) {
    .profileImg {
        right: -15vw;
    }

}

@media screen and (max-width: 810px) {
    .portfolioImg{
        height: 30vw;
        width: 30vw;
    }
}